<head>

<link href="../style.css" rel="stylesheet" type="text/css">

<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">

<br/>

<div class="nav-bar">

  <div class="main-logo">
        <!-- <br/> -->
        <h2>NBA Team Maker</h2>
        <!-- <br/> -->
    </div>

  <ul class="nav-holder">

      <li class="nav-item"><a href="#">Saved Teams</a></li>
      <li class="nav-item"><a href="#">Create New Team</a></li>
      <li class="nav-item"><a href="#">Logout</a></li>

      <!-- <hr/><br/> -->
      <li class="nav-item"><a href="/nba/login">( login )</a></li>
      <li class="nav-item"><a href="/nba/searchByName">( searchByName )</a></li>

  </ul>

</div>


<hr/>
