<link href="style.css" rel="stylesheet" type="text/css">

<hr/>

<div class="nav-bar">

  <ul class="nav-holder">

      <li class="nav-item"><a href="#">Saved Teams</a></li>
      <li class="nav-item"><a href="#">Create New Team</a></li>
      <li class="nav-item"><a href="#">Logout</a></li>

  </ul>

</div>

<hr/>
