<head>

<link href="../style.css" rel="stylesheet" type="text/css">


<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">

<br/>

<div class="nav-bar">

  <div class="main-logo">
        <!-- <br/> -->
        <a href="/nba" style="text-decoration:none>"<h2>NBA Team Maker</h2></a>
        <!-- <br/> -->
    </div>

  <ul class="nav-holder">

      <li class="nav-item"><a href="/nba/home">Home</a></li>
      <li class="nav-item"><a href="/nba/search">Search Players</a></li>
      <li class="nav-item"><a href="#">Custom Teams</a></li>
      <li class="nav-item"><a href="/user/profile">( Profile )</a></li>

      <!-- <hr/><br/> -->
      <li class="nav-item"><a href="/user/login">( login / register )</a></li>

  </ul>

</div>


<hr/>
