
<% include ../partials/boilerplate %>

<div class="pg-title-header">

    <img src="https://image.flaticon.com/icons/svg/25/25694.svg" class="home-icon-img">

    <h1>Home</h1>

  </div>

  <hr/>

  <p> Welcome to the NBA Team Maker, an app which uses the NBA.com API to render official player information.
      <br/><br/> Browse players in the NBA database, and create custom teams of 5 players to compare their stats.
    </p>

<br/>
  <p>Created by <a href="http://adamtj.com">Adam Julier</a></p>


  <% include ../partials/end %>
