<!DOCTYPE html>
<link href="../../style.css" rel="stylesheet" type="text/css">


<% include ../partials/boilerplate %>


<div class="pg-title-header">
    <h1>Player API Results</h1>
  </div>

  <hr/>

<% include ../partials/player-info-card %>


<% include ../partials/end %>
