
<% include ../partials/boilerplate %>

<div class="pg-title-header">
    <h1>Search Active Players</h1>
  </div>

  <!-- <p> <%= data %> </p> -->
  <br/><br/>

  <form class="login-main-form" action="/nba/searchByName" method="POST">
      <label>Enter Full Name: </label><br/><br/>
      <input type="textarea" name="playername"></input>
      <br/><br/>
      <button type="submit">Search</button>
</form>

  <% include ../partials/end %>
