
<% include ../partials/boilerplate %>

<div class="pg-title-header">
    <h1>Search the NBA API</h1>
  </div>

  <hr/><br/>

  <!-- <p> <%= data %> </p> -->
  <br/>


      <a href="/nba/searchByTeam"><button class="search-choice">Search by Team</button></a>

          <br/><br/><br/>

      <a href="/nba/searchByName"><button class="search-choice">Search by Player Name</button></a>

          <br/><br/><br/>
          <hr/>


  <% include ../partials/end %>
