<!DOCTYPE html>

<% include ../partials/boilerplate %>

<div class="pg-title-header">
    <h1>Team Search API Results</h1>
  </div>

<% players.forEach(player => {  %>



    <% include ../partials/player-info-list %>


<% }); %>


<% include ../partials/end %>
