
<% include ../partials/boilerplate %>

<div class="pg-title-header">
    <h1>Manage User Profile</h1>
  </div>

  <hr/><br/>

<p> <em>( * WIP, once able to tell which user is currently logged in, etc * ) </em> </p><br/>

  <a href="/user/changeUsername"><button class="button-choice"> Change Username / Password </button></a> <br/><br/>
  <!-- <a href="#"> (Change Password) </a> <br/><br/> -->
  <!-- <a href="/user/delete"><button> Delete User Profile </button></a> <br/><br/> -->
  <!-- <a href="#"> (Logout) </a> <br/> -->


  <% include ../partials/end %>
