<!DOCTYPE html>
<link href="../../style.css" rel="stylesheet" type="text/css">


<% include ../partials/boilerplate %>



<div class="pg-title-header">
    <h3>View Custom Team</h3>
  </div>

  <hr/>

  <% data.forEach(team => {  console.log(team) %>

    <% include ../partials/player-info-customteams-list %>


  <% }); %>


<% include ../partials/end %>
